.main-contacts-block {
   // .main-contacts-block__top
   &__top {
      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }
   // .main-contacts-block__container
   &__container {
      // .main-contacts-block__container_big
      &_big {
      }
   }
   // .main-contacts-block__body
   &__body {
   }
   // .main-contacts-block__map
   &__map {
      @include adaptiveValue("max-height", 412, 308, 0, 1280, 768);
      max-width: 100%;
   }
}
//========================================================================================================================================================
.best {
   @media (min-width:$tablet){
      padding-bottom: rem(85);
   }
   // .best__container
   &__container {
      // .best__container_big
      &_big {
         position: relative;
      }
   }
   // .best__content
   &__content {
      display: flex;
      align-items: center;
      column-gap: rem(75);
      padding-left: rem(40);
      @include adaptiveValue("padding-top", 40, 60, 0, 1280, 768);
      @include adaptiveValue("padding-bottom", 40, 65, 0, 1280, 768);
      @media (max-width:$tablet){
         flex-direction: column;
         @include adaptiveValue("padding-top", 60, 80, 0, 768, 375);
         @include adaptiveValue("padding-bottom", 65, 80, 0, 768, 375);
         @include adaptiveValue("row-gap", 30, 15, 0, 768, 375);
         padding-left: rem(0);
      }
   }
   // .best__title
   &__title {
      color: $whiteColor;
      font-family: 'Oswald';
      font-weight: 300;
      @include adaptiveValue("font-size", 42, 24, 0, 1160, 768);
      line-height: 1.47;
      text-align: center;
      text-transform: uppercase;
   }
   // .best__form
   &__form {
      @media (max-width:$tablet){
         max-width: rem(495);
         width: 100%;
      }
   }
   // .best__bg-image
   &__bg-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }
}
