.picture-pages {
   @include adaptiveValue("padding-bottom", 80, 60, 0, 768, 375);
   // .picture-pages__container
   &__container {
   }
   // .picture-pages__header
   &__header {
   }
}
.tabs-picture-pages {
   padding-top: rem(20);
   // .tabs-picture-pages__navigation
   &__navigation {
      display: flex;
      @include adaptiveValue("column-gap", 40, 30, 0, 768, 375);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 30, 50, 0, 1168, 768);
         @media (max-width:$mobile){
            margin-bottom: rem(30);
         }
      }
   }
   // .tabs-picture-pages__title
   &__title {
      color: $grayColor;
      font-family: 'Oswald';
      font-weight: 300;
      @include adaptiveValue("font-size", 30, 20, 0, 1160, 768);
      line-height: 1.46;
      text-transform: uppercase;
      transition: color 0.3s ease 0s;
      &::before {
         content:'';
         width: 0;
         transition: width 0.3s ease 0s;
      }
      &._tab-active {
         color: $mainColor;
         position: relative;
         &::before{
            position: absolute;
            left: 0;
            bottom: rem(-5);
            width: 100%;
            height: rem(1);
            background-color: $orangeColor;
         }
      }
   }
   // .tabs-picture-pages__content
   &__content {
   }
   // .tabs-picture-pages__body
   &__body {
   }
   // .tabs-picture-pages__items
   &__items {
      display: grid;
      @include adaptiveValue("row-gap", 40, 20, 0, 1160, 768);
   }
   // .tabs-picture-pages__image-ibg
   &__image-ibg {
      overflow: hidden;
      @media (any-hover: hover){
         &:hover{
            img {
               transform: scale(1.2);
            }
         }
      }
      min-height: rem(300);
      background: linear-gradient(325.08deg, rgba(17, 17, 17, 0.8) 10.96%, rgba(0, 0, 0, 0) 54.02%);
      img {
         z-index: -1;
         transition: transform 0.7s ease 0s;
      }
   }
   // .tabs-picture-pages__info
   &__info {
      position: absolute;
      bottom: rem(30);
      @include adaptiveValue("right", 35, 10, 0, 1160, 768);
      color: $whiteColor;
      font-family: 'Oswald';
      font-size: rem(22);
      text-transform: uppercase;
      display: grid;
      row-gap: rem(15);
      @include adaptiveValue("max-width", 222, 183, 0, 1160, 768);
      width: 100%;
      @media (max-width:$mobile){
         max-width: rem(146); 
      }
      &::after{
         content:'\e900';
         @extend %ic;
         color: $orangeColor;
         font-size: rem(8);
      }
      @media (max-width:$mobile){
         font-size: rem(20);
      }
   }
}
